{% extends 'base.html' %}
{% block content %}

    <!-- page header -->
    <div class="d-flex justify-content-center align-items-center">
        <div class="card main-card">
            <h2 class="text-center mt-4 ms-5 me-5">Activity Feed</h2>
            <h4 class="mb-4 ms-5 me-5 text-center">Check out the community's progress and show your support!</h4>
        </div>
    </div>

    <!-- user logs -->
    <div class="row mb-5">
        {% for activity in activities|sort(attribute="created_at", reverse=true) %}
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2 mb-3">
            <div class="card activity-card">
                <div class="card-body text-center">
                    <h3 class="card-title bg-dark text-light rounded">{{ activity.user.username }}</h3>
                    <h4 class="card-title">{{ activity.workout_type }}</h4>
                    <h5 class="card-title">{{ activity.exercise_name }}</h5>
                </div>
                <ul class="list-group list-group-flush text-uppercase">
                    {% if activity.workout_type == 'strength' %}
                    <li class="list-group-item">Reps: <span class="float-end">{{ activity.reps }}</span></li>
                    <li class="list-group-item">Sets: <span class="float-end">{{ activity.sets }}</span></li>
                    <li class="list-group-item">Weight: <span class="float-end">{{ activity.weight }}</span></li>
                    {% elif activity.workout_type == 'endurance' %}
                    <li class="list-group-item">Distance (miles): <span class="float-end">{{ activity.distance }}</span></li>
                    <li class="list-group-item">Duration (hours): <span class="float-end">{{ activity.duration }}</span></li>
                    {% endif %}
                    <li class="list-group-item text-center">{{ activity.created_at.strftime('%d-%m-%Y') }}</li>
                </ul>
                <div class="card-body text-center text-uppercase">
                    <a href="{{ url_for('edit_activity', activity_id=activity.id) }}" class="card-link"><button class="btn btn-dark text-uppercase me-2">Edit</button></a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-{{ activity.id }}" class="btn btn-dark text-uppercase">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}