{% extends "base.html" %}
{% block content %}

    <!-- main content container -->
    <div class="d-flex justify-content-center align-items-center">
        <div class="card text-center main-card">
            <div class="card-body">
                <h2 class="card-title m-3">Welcome to ActiveTrack</h2>
                <p class="card-text">
                    Welcome to ActiveTrack, your simple and effective exercise progression tracker
                    designed specifically for logging endurance and strength workouts. Easily track your exercises and
                    monitor your progress.
                </p>
                <p class="card-text">
                    Engage with a supportive community through sharing your logs and commenting on others' achievements.
                </p>
                <p class="card-text">
                    Whether you're a beginner or a fitness enthusiast, ActiveTrack helps you stay motivated and focused on achieving your fitness goals.
                </p>
                <a href="#" class="btn btn-dark m-3">Login</a>
                <a href="#" class="btn btn-dark m-3">Register</a>
            </div>
        </div>
    </div>

{% endblock %}