{% extends "base.html" %}
{% block content %}

    <!-- main content container -->
    <div class="d-flex justify-content-center align-items-center fs-5">
        <div class="card text-center main-card">
            <div class="card-body">
                <h2 class="card-title m-3">Welcome to ActiveTrack</h2>
                <p class="card-text">
                    Welcome to ActiveTrack, your simple and effective exercise progression tracker
                    designed specifically for logging endurance and strength workouts. Easily track your exercises and
                    monitor your progress.
                </p>
                <p class="card-text">
                    Engage with a supportive community through sharing your logs and commenting on others' achievements.
                </p>
                <p class="card-text">
                    Whether you're a beginner or a fitness enthusiast, ActiveTrack helps you stay motivated and focused on achieving your fitness goals.
                </p>
                {% if user.is_authenticated %}
                <a href="{{ url_for('diary') }}" class="btn btn-dark m-3 text-uppercase">Diary</a>
                <a href="{{ url_for('activity_feed') }}" class="btn btn-dark m-3 text-uppercase">Activity Feed</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-dark m-3 text-uppercase">Login</a>
                <a href="{{ url_for('sign_up') }}" class="btn btn-dark m-3 text-uppercase">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}