/* general */

body {
    font-family: "Oswald", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}

/* navbar */

.navbar h1 {
    font-size: 3.5rem;
}

.navbar li {
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* footer */

footer {
    margin-top: auto;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    height: 48px;
}

footer a {
    font-size: 1.8rem;
    color: white;
}

/* background image */

.background-image {
    background: url("../images/background-img.jpg") no-repeat center;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    position: relative;
    background-color: rgba(180, 180, 180, 0.15);
    background-blend-mode: lighten;
    background-attachment: fixed;
}

/* main page card component */

.main-card {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.main-card h2 {
    font-size: 350%;
}

.activity-card {
    height: 100%;
}