body {
    font-family: "Oswald", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}

.navbar h1 {
    font-size: 3.5rem;
}

.navbar li {
    font-size: 1.3rem;
    text-transform: uppercase;
}